<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Ymir</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .navbar {
            background-color: #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 1%;
        }

        .navbar-nav .nav-link {
            color: #ede7e7;
            font-weight: bold;
        }

        .cart-icon {
            font-size: 24px;
            color: #ede7e7;
            cursor: pointer;
            transition: transform 0.3s ease;
            position: relative;
            margin-right: 25px;
        }

        #user-icon {
            font-size: 24px;
            color: #ede7e7;
            cursor: pointer;
            transition: transform 0.3s ease, color 0.3s ease;
            margin-right: 15px;
        }

        #user-icon:hover {
            transform: scale(1.1);
            color: #ff6456;
        }

        #cart-count {
            background-color: #ff6456;
            color: #fff;
            border-radius: 50%;
            padding: 1px 6px;
            font-size: 12px;
            position: absolute;
            top: -10px;
            right: -10px;
        }

        .user-menu {
            position: relative;
        }

        #user-dropdown {
            display: none;
            position: absolute;
            right: 0;
            background-color: white;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            min-width: 150px;
            z-index: 1000;
            /* Asegurar que esté por encima del carousel */
            text-align: center;
        }

        #user-dropdown a,
        #user-dropdown button {
            padding: 10px;
            display: block;
            text-decoration: none;
            color: #333;
            background-color: white;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        #user-dropdown a:hover,
        #user-dropdown button:hover {
            background-color: #f4f4f9;
        }

        .navbar-collapse {
            display: flex;
            justify-content: space-between;
        }

        .navbar-nav {
            flex-direction: row;
        }

        .navbar-collapse .user-cart {
            display: flex;
            justify-content: flex-end;
        }

        .footer {
            background-color: #000000;
            color: #fff;
            padding: 20px;
            margin-top: 3%;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .footer p {
            margin: 5px 0;
        }

        .social-icons {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
        }

        .social-icons a {
            color: #fff;
            margin: 0 10px;
        }

        .social-icons a:hover {
            color: #ff6456;
        }

        @media (max-width: 991px) {
            .navbar-nav {
                flex-direction: column;
                text-align: left;
            }

            .navbar-collapse .user-cart {
                justify-content: flex-start;
                margin-top: 10px;
                border-radius: 15%;
            }

            .cart-icon,
            #user-icon {
                margin-left: 0;
                margin-right: 15px;
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const userIcon = document.getElementById('user-icon');
            if (userIcon) {
                userIcon.addEventListener('click', function () {
                    event.stopPropagation()
                    const dropdown = document.getElementById('user-dropdown');
                    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
                });
            }

            window.onclick = function (event) {
                if (!event.target.matches('#user-icon')) {
                    const dropdown = document.getElementById('user-dropdown');
                    if (dropdown) {
                        dropdown.style.display = 'none';
                    }
                }
            };
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo.png" alt="Logo" width="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Enlaces a la izquierda -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/company/about">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/company/contactus">Contáctanos</a>
                    </li>
                </ul>

                <!-- Carrito y usuario a la derecha -->
                <div class="user-cart">
                    {{#if user}}
                    <a id='goToCartButton' class="cart-icon">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="cart-count" {{#if cartCountGreaterThanZero}}style="display: inline-block;" {{/if}}>
                            {{cartCount}}
                        </span>
                    </a>
                    {{/if}}

                    <div class="user-menu">
                        <i class="fa fa-user" id="user-icon"></i>
                        <div class="dropdown-content" id="user-dropdown">
                            {{#if user}}
                            <a href="/api/sessions/profile/{{user._id}}">Perfil</a>
                            <form action="/api/sessions/signout" method="GET">
                                <button type="submit">Cerrar sesión</button>
                            </form>
                            {{else}}
                            <a href="/login">Abrir sesión</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {{{body}}}

    <footer class="footer">
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61575356211288" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://api.whatsapp.com/send?phone=1133038670" target="_blank"><i
                    class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/tpo.ymir.store/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>Contacto: contacto@ecommerce.com | Tel: (123) 456-7890</p>
        <p>&copy; 2024 DTweb - Dante Terrenator Web. Todos los derechos reservados.</p>
    </footer>
</body>

</html>